/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");

@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap&subset=cyrillic-ext");

@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap&subset=cyrillic-ext');

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format('woff2'),
        url("../fonts/HelveticaNeueCyr-Roman.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
	/* color: #000; */
	font-family: 'Irish Grover', cursive;
	font-size: 30px;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	padding: 20px;
	background: linear-gradient(135deg, rgba(48,209,242,1) 0%,rgba(26,132,118,1) 23%,rgba(46,242,147,1) 48%,rgb(228, 124, 166) 73%,rgba(71,111,132,1) 100%);
}
/* ------------------------------ */
h2 {
	font-family: 'Neucha', cursive;
	color: rgba(0, 0, 0, 0.664);
	background: rgba(217, 255, 5, 0.931);
	/* border: #ffffff94 3px solid; */
	box-shadow: 10px 10px 30px rgba(217, 255, 5, 0.931);
	border-radius: 20px;
	font-weight: 500;
	font-size: 35px;
	max-width: 500px;
	padding: 15px;
	margin: 0px auto 30px auto;
}
h2:hover {
	background-color: royalblue;
	box-shadow:-10px -10px 30px royalblue;
}
li {
	display: inline-block;
	padding: 50px;
	margin: 0 20px;
}

.block1 {
	background-color: rgba(199, 199, 199, 0.602);
	border-radius: 0 50px 50px 50px;
	padding: 20px
}

.link1{
	color: darkkhaki;
	max-width: 500px;
	padding: 20px;
	border: 5px solid rgba(255, 255, 255, 0.513);
	border-radius: 0px 50px 50px;
	box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.89);
}

.link1:hover {
	color:darkgreen;
	background-color: whitesmoke;
	border: 5px solid rgba(255, 255, 255, 0.513);
	border-radius: 50px 50px 0px;
	box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.89);
}
/* .block1:hover .link1 {
	color: tomato;
} */

.link2 {
	color: tomato;
	max-width: 500px;
	padding: 20px;
	border: 5px double rgba(250, 247, 247, 0.698);
	box-shadow: 5px 10px 20px rgba(184, 176, 176, 0.8);
	border-radius: 30px 0px 50px 30px;
}
.link2:hover {
	color: red;
	background-color: rgb(255, 106, 0);
	border-radius: 50px;
}
.link2:visited {
	color: seagreen;
}

.link3 {
	display: inline-block;
	color: silver;
	/* border: 5px dashed rgba(255, 255, 255, 0.513); */
	max-width: 500px;
	border-radius: 10px;
	padding: 10px;
	background-color: rgba(246, 57, 57, 0.514);
	box-shadow: 6px 6px 0px rgb(255, 0, 0);
}
.link3:hover {
	background-color:rgba(57, 86, 246, 0.514);
}

.link3:active {
	/* background-color: rgb(255, 106, 0); */
	box-shadow: 3px 3px 0px rgb(255, 145, 0);
	color: springgreen;
}
.link4 {
	color: rgb(255, 255, 255);
	padding: 20px;
	border-radius: 50%;
}
.link4:focus {
	color: rgba(0, 0, 0, 0.602);
	background-color: rgb(255, 145, 0);
}
.link5 {
	color: yellow;
	text-decoration:underline
}
.link5:hover {
	color: turquoise;
}
.link5go {
	background-color: skyblue;
	padding: 10px;
	display: none;
	margin-bottom: 30px;
}

.link5go:target {
	color: teal;
	display: block;
}
.block2,
.block3,
.block4,
.block5  {
	margin: 0px 0px 30px 0px;
	background-color: rgba(0, 255, 128, 0.521);
	padding: 10px;
}
.block2 p,
.block3 p,
.block4 p  {
	color: sandybrown;
	font-size: 35px;
	margin: 0px 0px 20px 0px;
}

.block2 p:first-child {
	color: tomato;
} 

.block3 p:first-of-type {
	color: violet;
}
span {
	color: sandybrown;
	font-size: 35px;	
}
.block3 *:last-child {
	text-decoration: line-through;
	margin-bottom: 0px;
}
.block3 p:nth-child(3) {
	border: 5px solid white;
}
/* :hover для пробы */
.block3 p:nth-child(3):hover {
	color: red;
	font-size: 40px;
}
.block3 p:nth-child(odd) {
	font-style: oblique;
	font-size: 25px;
}

/* .block3 *:not(:last-child) {
	color: tomato;
} */
.block4::first-line {
	color:yellow;
	text-decoration: line-through;
}
.block4 p:nth-child(even)::first-letter {
	color:rgb(255, 255, 255);
	font-size: 55px;
}
.block5 p {
	padding: 20px;
	color: rgb(0, 26, 255);
}
.block5::before {
	content: "";
	display: block;
	background-color: hotpink;
	height: 15px;
	width: 50%;
	margin: 0px auto;
	box-shadow: 4px 4px 6px hotpink ;
}
.block5::after {
	content: "";
	display: block;
	background-color: rgb(131, 5, 68);
	height: 10px;
	width: 50%;
	margin: 0px 0px 0px 0px;
}

.block6 li {
	display: block;
	padding: 10px;
	color: rgb(255, 238, 87);
	font-size: 30px;
	margin: 0px 0px 50px 0px;
}

.block6 li::before {
	content: "";
	width: 20px;
	height: 20px;
	background-color: #fff;
	display: inline-block;
	vertical-align: top;
	margin: 5px 10px 0px 0px;
	border-radius: 50%;
}
.block6 li:hover{
	font-family: 'Neucha', cursive;
	color: steelblue;
	font-style: oblique;
}
.block6 li:hover::before {
	content: "";
	width: 20px;
	height: 20px;
	background-color: rgb(250, 6, 6);
	display: inline-block;
	vertical-align: bottom;
	margin: 5px 10px 0px 0px;
	border-radius: 50%;
	
	
}
.block6 li:hover::after {
	content: "";
	width: 25px;
	height: 25px;
	background-image: url("../img/sun48px.png");
	background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 25px 25px;
	display: inline-block;
	vertical-align: top;
	margin: 0px 15px 0px 0px;
	border-radius: 50%;
	
	
}
.num_list {
	font-family: 'Neucha', cursive;
	counter-reset: item;
	margin: 0px 0px 0px 0px
}
.num_list li {
	display: block;
	padding: 10px;
	color: rgb(255, 238, 87);
	font-size: 30px;
}
/* .num_list li:not(:last-child) {
	margin: 0px 0px 30px 0px;
} */
.num_list li::before {
	counter-increment: item;
	content: counter(item) ")";
	display: inline-block;
	vertical-align: top;
	color: red;
	margin: 0px 20px 0px 0px;
}
.maket {
	/* display: inline-block; */
	background-color: #F5F5F5;
	padding: 50px;
	margin: 0px auto 30px auto;
	width: 45%;
}

.maket_block1 h3 {
	min-width: 436px;
	color:#5D62B5;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	align-items: center;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	margin: 0px 0px 33px 0px
	
}
.maket_block1 h3::before {
	display: inline-block;
	content: "";
	width: 17px;
	height: 20px;
	background: url("../img/OverlineMark.png") 0 0 no-repeat;
	margin-right: 16px;	
}
.maket_block1 p {
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	margin: 0px 0px 42px 0px;

}
.maket_block2 {
	display: inline-block;
	margin-right: 24px;

}
.dog_love{
	display: inline-block;
	max-width: 324px;
}
.dog_love h3 {
	display: inline-block;
	color: #F2726F;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 19px;
	line-height: 26px;
}
.dog_love h3::before{
	content: "";
	display: inline-block;
	background: url("../img/dog_love_24x.png") 0 0 no-repeat;
	vertical-align: top;
	margin-right: 23px;
	width: 63px;
	height: 63px;
}
.dog_love p {
	display: inline-block;
	color:#4B4B4B;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	margin: 0px 3px 1px 86px
}
.dog_vet{
	display: inline-block;
	max-width: 324px;
}
.dog_vet h3 {
	display: inline-block;
	color: #F2726F;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 19px;
	line-height: 26px;
}
.dog_vet h3::before{
	content: "";
	display: inline-block;
	background: url("../img/dog_vet_24x.png") 0 0 no-repeat;
	vertical-align: top;
	margin-right: 23px;
	width: 63px;
	height: 63px;
}
.dog_vet p {
	display: inline-block;
	color:#4B4B4B;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	margin: 0px 3px 1px 86px
}
.dog_stream{
	display: inline-block;
	max-width: 324px;
}
.dog_stream h3 {
	display: inline-block;
	color: #F2726F;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 19px;
	line-height: 26px;
}
.dog_stream h3::before {
	content: "";
	display: inline-block;
	background: url("../img/dog_stream_24x.png") 0 0 no-repeat;
	vertical-align: top;
	margin-right: 23px;
	width: 63px;
	height: 63px;
}
.dog_stream p {
	display: inline-block;
	color:#4B4B4B;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	margin: 0px 3px 1px 86px
}
.maket2 {
	font-family: "HelveticaNeueCyr";
	display: inline-block;
	background-color: #252525;
	width: 255px;
	height: 206px;
	border-radius: 6px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	padding: 24px 24px 60px 24px;
}
.maket2 h3 {
	color: #FFFFFF;
	font-size: 22px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: -0.275px;
	text-transform: capitalize;
	margin: 0px 0px 20px 0px;
}
.maket2 h3::after {
	content: "";
	display: inline-block;
	width: 56px;
	height: 2px;
	margin: 10px 0px 0px 0px;
	background-color: #34C759;
}
.maket2 p {
	color: rgba(255, 255, 255, 0.5);
	font-size: 13px;
	line-height: 18px;
	letter-spacing: -0.1625px;
	/* margin: 0px 0px 60px 0px; */
}
